<!-- <p>
  trends-data works!
</p>
<app-pie-charts></app-pie-charts>
<app-maps></app-maps> -->


<div class="container-fluid" style="margin-top: 10px;">
  <div class="row content">
    <div class="col-sm-12">

      <div class="row">
        <div class="col-sm-6 col-md-6">
          <div class="well" style="margin-left: -140px;;">
            <h4 style="text-align:center">Pie Chart</h4>
            <app-pie-charts></app-pie-charts>
          </div>

        </div>
        <div class="col-sm-6 col-md-6">
          <div class="well">
              <h4 style="text-align:center">Heat Map</h4>
            
            <app-trends-heat-map></app-trends-heat-map>
            <!-- <app-line-chart></app-line-chart> -->
          </div>

        </div>

      </div>

      <!-- <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="well">           
            <app-trends-heat-map></app-trends-heat-map>
          </div>
        </div>
      </div> -->


    </div>
  </div>
</div>