
<div class="profile-users clearfix" style="margin-top: 10px; margin-left: 10px;">
    <div class="itemdiv memberdiv"  *ngFor="let team of teamData" >
      <div class="inline pos-rel"  >
        <div class="user">
          <a href="">
            <img src="assets/images/avatar6.png" alt="Bob Doe's avatar">
          </a>
        </div>

        <div class="body">
          <div class="name">
            <a href="">
              <span class="user-status status-online"></span>
             {{ team.name}}
            </a>
          </div>
        </div>

    
      </div>
    </div>

    <!-- <div class="itemdiv memberdiv">
      <div class="inline pos-rel">
        <div class="user">
          <a href="foo#">
            <img src="./avatar1.png" alt="Rose Doe's avatar">
          </a>
        </div>

        <div class="body">
          <div class="name">
            <a href="foo#">
              <span class="user-status status-offline"></span>
              Rose Doe
            </a>
          </div>
        </div>

        <div class="popover">
          <div class="arrow"></div>

          <div class="popover-content">
            <div class="bolder">Graphic Designer</div>

            <div class="time">
              <i class="ace-icon fa fa-clock-o middle bigger-120 grey"></i>
              <span class="grey"> 30 min ago </span>
            </div>

            <div class="hr dotted hr-8"></div>

            <div class="tools action-buttons">
              <a href="foo#">
                <i class="ace-icon fa fa-facebook-square blue bigger-150"></i>
              </a>

              <a href="foo#">
                <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
              </a>

              <a href="foo#">
                <i class="ace-icon fa fa-google-plus-square red bigger-150"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <!-- <div class="itemdiv memberdiv">
      <div class="inline pos-rel">
        <div class="user">
          <a href="foo#">
            <img src="./avatar2.png" alt="Jim Doe's avatar">
          </a>
        </div>

        <div class="body">
          <div class="name">
            <a href="foo#">
              <span class="user-status status-busy"></span>
              Jim Doe
            </a>
          </div>
        </div>

        <div class="popover">
          <div class="arrow"></div>

          <div class="popover-content">
            <div class="bolder">SEO &amp; Advertising</div>

            <div class="time">
              <i class="ace-icon fa fa-clock-o middle bigger-120 red"></i>
              <span class="grey"> 1 hour ago </span>
            </div>

            <div class="hr dotted hr-8"></div>

            <div class="tools action-buttons">
              <a href="foo#">
                <i class="ace-icon fa fa-facebook-square blue bigger-150"></i>
              </a>

              <a href="foo#">
                <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
              </a>

              <a href="foo#">
                <i class="ace-icon fa fa-google-plus-square red bigger-150"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="itemdiv memberdiv">
      <div class="inline pos-rel">
        <div class="user">
          <a href="foo#">
            <img src="./avatar3.png" alt="Alex Doe's avatar">
          </a>
        </div>

        <div class="body">
          <div class="name">
            <a href="foo#">
              <span class="user-status status-idle"></span>
              Alex Doe
            </a>
          </div>
        </div>

        <div class="popover">
          <div class="arrow"></div>

          <div class="popover-content">
            <div class="bolder">Marketing</div>

            <div class="time">
              <i class="ace-icon fa fa-clock-o middle bigger-120 orange"></i>
              <span class=""> 40 minutes idle </span>
            </div>

            <div class="hr dotted hr-8"></div>

            <div class="tools action-buttons">
              <a href="foo#">
                <i class="ace-icon fa fa-facebook-square blue bigger-150"></i>
              </a>

              <a href="foo#">
                <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
              </a>

              <a href="foo#">
                <i class="ace-icon fa fa-google-plus-square red bigger-150"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="itemdiv memberdiv">
      <div class="inline pos-rel">
        <div class="user">
          <a href="foo#">
            <img src="./avatar4.png" alt="Phil Doe's avatar">
          </a>
        </div>

        <div class="body">
          <div class="name">
            <a href="foo#">
              <span class="user-status status-online"></span>
              Phil Doe
            </a>
          </div>
        </div>

        <div class="popover">
          <div class="arrow"></div>

          <div class="popover-content">
            <div class="bolder">Public Relations</div>

            <div class="time">
              <i class="ace-icon fa fa-clock-o middle bigger-120 orange"></i>
              <span class="green"> 2 hours ago </span>
            </div>

            <div class="hr dotted hr-8"></div>

            <div class="tools action-buttons">
              <a href="foo#">
                <i class="ace-icon fa fa-facebook-square blue bigger-150"></i>
              </a>

              <a href="foo#">
                <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
              </a>

              <a href="foo#">
                <i class="ace-icon fa fa-google-plus-square red bigger-150"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="itemdiv memberdiv">
      <div class="inline pos-rel">
        <div class="user">
          <a href="foo#">
            <img src="./avatar6.png" alt="Susan Doe's avatar">
          </a>
        </div>

        <div class="body">
          <div class="name">
            <a href="foo#">
              <span class="user-status status-online"></span>
              Susan Doe
            </a>
          </div>
        </div>

        <div class="popover">
          <div class="arrow"></div>

          <div class="popover-content">
            <div class="bolder">HR Management</div>

            <div class="time">
              <i class="ace-icon fa fa-clock-o middle bigger-120 orange"></i>
              <span class="green"> 20 mins ago </span>
            </div>

            <div class="hr dotted hr-8"></div>

            <div class="tools action-buttons">
              <a href="foo#">
                <i class="ace-icon fa fa-facebook-square blue bigger-150"></i>
              </a>

              <a href="foo#">
                <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
              </a>

              <a href="foo#">
                <i class="ace-icon fa fa-google-plus-square red bigger-150"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="itemdiv memberdiv">
      <div class="inline pos-rel">
        <div class="user">
          <a href="foo#">
            <img src="./avatar1.png" alt="Jennifer Doe's avatar">
          </a>
        </div>

        <div class="body">
          <div class="name">
            <a href="foo#">
              <span class="user-status status-offline"></span>
              Jennifer Doe
            </a>
          </div>
        </div>

        <div class="popover">
          <div class="arrow"></div>

          <div class="popover-content">
            <div class="bolder">Graphic Designer</div>

            <div class="time">
              <i class="ace-icon fa fa-clock-o middle bigger-120 grey"></i>
              <span class="grey"> 2 hours ago </span>
            </div>

            <div class="hr dotted hr-8"></div>

            <div class="tools action-buttons">
              <a href="foo#">
                <i class="ace-icon fa fa-facebook-square blue bigger-150"></i>
              </a>

              <a href="foo#">
                <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
              </a>

              <a href="foo#">
                <i class="ace-icon fa fa-google-plus-square red bigger-150"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="itemdiv memberdiv">
      <div class="inline pos-rel">
        <div class="user">
          <a href="foo#">
            <img src="./avatar2.png" alt="Alexa Doe's avatar">
          </a>
        </div>

        <div class="body">
          <div class="name">
            <a href="foo#">
              <span class="user-status status-offline"></span>
              Alexa Doe
            </a>
          </div>
        </div>

        <div class="popover">
          <div class="arrow"></div>

          <div class="popover-content">
            <div class="bolder">Accounting</div>

            <div class="time">
              <i class="ace-icon fa fa-clock-o middle bigger-120 grey"></i>
              <span class="grey"> 4 hours ago </span>
            </div>

            <div class="hr dotted hr-8"></div>

            <div class="tools action-buttons">
              <a href="foo#">
                <i class="ace-icon fa fa-facebook-square blue bigger-150"></i>
              </a>

              <a href="foo#">
                <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
              </a>

              <a href="foo#">
                <i class="ace-icon fa fa-google-plus-square red bigger-150"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>