<div class="container-fluid" style="margin-top: 10px;">
    <div class="row content">
        <div class="col-sm-12">
            
            
            <div class="row">
                <div class="col-sm-4 col-md-4">
                    <div class="well">
                        <h4>All Time Badge Count: {{badgeObj.global_alltime_badgecount}}</h4>
                         <app-badge-hour-data></app-badge-hour-data> 
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="well">
                        <h4>Day Data</h4>
                   <app-badge-day-data></app-badge-day-data>
                    </div>
                </div>

                <div class="col-sm-4 col-md-4">
                    <div class="well">
                        <h4>Week Data</h4>
                        <app-badge-week-data></app-badge-week-data>
                    </div>
                </div>
               
            </div>
            <div class="row">
                <h2>Maps</h2>
                <app-maps></app-maps>
            </div>
        </div>
    </div>
</div>